body {
	background-color: #111111;
	color: #EEEEEE;
	font-family: monospace;
}
a[href] {
	color: #00FFFF;
}
.modal {
	padding: 1em;
	border-radius: 10px;
	color: snow;
	background-color: black;
	border-color: grey;
	border-width: 5px;
}
.modal::backdrop {
	background-color: #40404080;
}
.vam_child > * {
	vertical-align: middle;
}
details > *:not(summary) {
	padding-left: 1em;
}
#footerElement {
	position: absolute;
	bottom: 0em;
	left: 0em;
	padding: 0.5em 1em;
	border-top: 1px solid snow;
	width: calc(100% - 2em);
	background-color: #111111;
}